@media (max-width: 768px) {

    html,
    body {
        width: 100%;
        min-height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #mainBanner {
        width: 100%;
        height: 100%;
    }

    #homeButton {
        border: none;
        cursor: pointer;

    }

    body {
        background-color: green;
        margin: 0;
        min-height: 100vh;

        background-image:
            linear-gradient(rgba(0, 80, 40, 0.85),
                rgba(0, 40, 20, 0.95)),
            url("img/background-carros.png");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .filterSectionA{
        margin-left: 15%;    
    }

    .imgWH{
        height: 200px;
        
    }

    #mainH1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    gap: 16px;
    padding: 16px;
}



}